<section tabindex="0" #myerr1>
    <h3>Cart</h3>

    <p>
        <a routerLink="/shipping">Shipping Prices</a>
    </p>

    <div class="cart-item" *ngFor="let item of items">
        <span>{{ item.name }}</span>
        <span>{{ item.price | currency }}</span>
    </div>

    <form tabindex="0" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" role="form">

        <div>
            <label for="name">
      Name
    </label>
            <input id="name" type="text" required formControlName="name">
        </div>

        <div>
            <label for="address">
      Address
    </label>
            <input id="address" type="text" required formControlName="address">
        </div>

        <button class="button" type="submit">Purchase</button>

    </form>
</section>